@import "/src/styles/mixins";
@import "/src/styles/variables";

.detail__wrapper {
  @include responsive-width;
  @include topbar-space;
}

.detail__title {
    padding: 4*$spacing-unit 0;
    h2, p {
        margin: 0;
    }
}

.detail__photos {
    display: flex;
    gap: $spacing-unit *3;
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 4*$spacing-unit;

    img:hover {
        cursor: pointer;
    }
}

.detail__infos {
    display: flex;
    flex-wrap: wrap;
    gap: 2*$spacing-unit;
    margin-bottom: 3*$spacing-unit;
    .detail__infos-value {
        width: $screen-breakpoint *0.5;
        margin-top: $spacing-unit;
        font-weight: bold;
    }
}