@import "/src/styles/mixins";
@import "/src/styles/variables";

.detail__wrapper {
  @include responsive-width;
}

.detail__title {
  padding: $spacing-unit 0;
  margin: 2 * $spacing-unit 0;
  h2,
  p {
    margin: 0;
  }
}

.detail__photos {
  display: flex;
  gap: $spacing-unit * 3;
  width: 100%;
  overflow-x: scroll;
  margin: 2 * $spacing-unit 0;

  img:hover {
    cursor: pointer;
  }
}

.detail__section {
  margin: 3 * $spacing-unit 0;
  .detail__section-headline {
    display: flex;
    margin: $spacing-unit 0;
    h4 {
      margin: 0;
    }
    .detail__section-divider {
      background-color: $primary-color;
      align-self: center;
      height: 3px;
      width: 100%;
      border-radius: $border-radius;
      margin-left: $spacing-unit;
    }
  }
}

.detail__infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2 * $spacing-unit;
  margin-bottom: $spacing-unit;

  .detail__infos-value {
    margin-top: $spacing-unit;
    font-weight: bold;
  }

  .detail__infos--full-width {
    .detail__infos-description {
      margin-top: $spacing-unit;
    }

    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.detail__actions {
  display: flex;
  gap: 2 * $spacing-unit;
  flex-wrap: wrap;
}

.detail__delete-btn {
  background-color: $danger-color;
  margin-bottom: 3 * $spacing-unit;
  border: 2px solid $danger-color;

  &:hover {
    background-color: darken($color: $danger-color, $amount: 20);
  }
}
