@import "/src/styles/variables";

body {
  font-family: $body-font;
  font-size: $base-font-size;
  color: $text-color;
  font-weight: 400;
}

h2 {
  font-family: $heading-font;
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-family: $heading-font;
  font-size: 1.8em;
  font-weight: 700;
}

h4 {
  font-family: $heading-font;
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-family: $heading-font;
  font-size: $base-font-size;
  font-weight: 700;
}

a {
  color: $primary-color;
}

@media only screen and (max-width: $screen-breakpoint) {
  h2 {
    font-size: 1.8em;
    margin: 20px 0;
  }

  h4 {
    font-family: $heading-font;
    font-size: 26px;
    font-weight: 700;
  }

  h5 {
    font-family: $heading-font;
    font-size: $small-font-size;
    font-weight: 700;
  }

  body {
    font-size: 16px;
  }
}