// Farben
$primary-color: #4B644A;
$on-primary-color: #F5F5F5;
$secondary-color: #324331;
$on-secondary-color: #F5F5F5;
$text-color: #000000;
$background-color: white;
$danger-color: #dc3545;

// Schriftarten
$body-font: 'Inter', sans-serif;
$heading-font: 'Roboto Serif', sans-serif;

// Größen
$base-font-size: 20px;
$small-font-size: 16px;

// Abstände und Abmessungen
$spacing-unit: 10px;
$border-radius: 8px;

// Containerbreiten
$container-sm: 576px;
$container-md: 768px;
$container-lg: 992px;
$container-xl: 1200px;

// Zeilenhöhen
$line-height: 1.5;

// Z-Indizes
$z-index-dropdown: 1000;
$z-index-modal: 1100;

// Animationen
$transition-duration: 0.5s;

// Medienabfragen
$screen-sm: 680px;
$screen-md: 900px;

$screen-breakpoint: $screen-sm;
