button {
    display: inline-block;
    padding: $spacing-unit $spacing-unit * 2;
    font-size: $base-font-size;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color $transition-duration;
    background-color: $primary-color;
    color: $on-primary-color;
    font-family: $body-font;
    
    &:hover {
      background-color: darken($primary-color, 10%);
    }

    .icon {
      height: $base-font-size;
      vertical-align: middle;
      margin-right: $spacing-unit;
    }

    &.on-primary {
      background-color: $on-primary-color;
      color: $text-color;

      &:hover {
        background-color: darken($on-primary-color, 20%);
      }
    }
  }
  