<form #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
    <div class="input-container">
        <label for="input-old-password">Altes Passwort</label>
        <input
          [(ngModel)]="value.oldPassword"
          name="oldPassword"
          type="password"
          id="input-old-password"
          required
          #oldPassword="ngModel"
        />
      </div>
      <div class="input-container">
        <label for="input-new-password">Neues Passwort</label>
        <input
          [(ngModel)]="value.newPassword"
          name="newPassword"
          type="password"
          id="input-new-password"
          required
          #newPassword="ngModel"
          autocomplete="new-password"
        />
      </div>
      <div class="input-container">
        <label for="input-verify-password">Neues Passwort wiederholen</label>
        <input
          [(ngModel)]="value.verifyPassword"
          name="verifyPassword"
          type="password"
          id="input-verify-password"
          required
          #verifyPassword="ngModel"
          autocomplete="new-password"
        />
      </div>
      <button type="submit">Passwort ändern</button>
</form>
