<app-hero imageSrc="assets/undraw_heart.svg">
  <h2>Dein Angebot wurde erstellt.</h2>
  <p class="success__subtitle">Wenn das mal kein Grund zur Freude ist!</p>
</app-hero>
<div class="success__text">
  <p>
    Vielen Dank für dein Angebot! Wir sichten die Angebote regelmäßig und melden
    uns bei Dir, wenn es einen entsprechenden Bedarf gibt. Nach Ablauf der von
    Dir angegebenen Bereitstellungszeit wird der Eintrag von uns gelöscht.
  </p>
  <p>Das könnten Deine nächsten Schritte sein:</p>
  <div class="success__buttons">
    <button routerLink="/offer">
      Weiteres Angebot erstellen
    </button>
    <button
      *ngIf="supportsShare"
      class="black-outline"
      (click)="shareContent()"
    >
      Diese Seite teilen
    </button>
    <button class="black-outline" routerLink="/">
      Zur Startseite zurückkehren
    </button>
  </div>
</div>
