<input
  type="file"
  name="input-files"
  id="input-files"
  (change)="onFileSelect($event)"
  [disabled]="disabled"
  multiple
  accept="image/*"
  #photoupload
/>
<div class="photo-upload__btn-group">
  <button type="button" (click)="photoupload.click()">
    <img class="icon" src="assets/undraw_cloud-upload.svg" alt="" />
    Fotos auswählen
  </button>
  <button
    *ngFor="let file of files"
    type="button"
    class="black-outline"
    (click)="onFileDelete(file)"
  >
    {{ file.name }}
    <img class="trailing-icon" src="assets/undraw_circled-x.svg" alt="" />
  </button>
</div>
