@import "/src/styles/mixins";
@import "/src/styles/variables";

.overview__wrapper {
  @include responsive-width;

  padding-top: 60px;

  .overview__result-grid {
    .overview__result-item {
      margin: $spacing-unit *2;
    }
  }

  button {
    width: 100%;
    margin: $spacing-unit * 3 0;
  }
}
