<form>
    <div class="input-container">
      <label for="input-title">Bezeichnung</label>
      <input type="text" id="input-title" placeholder="Küchentisch">
      <p class="help-text">Um welches Möbelstück handelt es sich?</p>
    </div>
    
    <div class="input-container">
      <label for="input-size">Maße</label>
      <input type="text" id="input-size" placeholder="1m x 2m">
      <p class="help-text">Wie groß ist das Möbelstück ungefähr?</p>
    </div>
    
    <div class="input-container">
      <label for="inputField">Zeitraum</label>
      <input type="date" id="inputField">
      <p class="help-text">Bis wann soll das Angebot gelten?</p>
    </div>
    
    <div class="input-container">
      <label for="input-name">Name</label>
      <input type="text" id="input-name" placeholder="Helga Herzlich">
      <p class="help-text">Wie lautet Dein Name?</p>
    </div>
  
    <div class="input-container">
      <label for="input-phone">Telefonnummer</label>
      <input type="text" id="input-phone" placeholder="02863 1234">
      <p class="help-text">Unter welcher Telefonnummer erreichen wir Dich?</p>
    </div>
    
    <button class="offer-form__submit" type="submit">
      <img class="icon" src="/assets/undraw_rocket.svg" alt="">
      Erstellen
    </button>
</form>  