<form #offerForm="ngForm" (ngSubmit)="submit()">
  <div class="input-container">
    <label for="input-title">Bezeichnung</label>
    <input
      [(ngModel)]="value.title"
      name="title"
      #title="ngModel"
      type="text"
      id="input-title"
      placeholder="Küchentisch"
      autocomplete="off"
      required
      maxlength="120"
      minlength="3"
    />
    <p class="help-text" [hidden]="title.invalid && title.touched">
      Um welches Möbelstück handelt es sich?
    </p>
    <p class="error-text" [hidden]="title.valid || title.untouched">
      <span *ngFor="let err of title.errors | keyvalue">{{
        err.key | validationErrors
      }}</span>
    </p>
  </div>

  <div class="input-container">
    <label for="input-size">Maße</label>
    <input
      [(ngModel)]="value.size"
      type="text"
      id="input-size"
      name="size"
      #size="ngModel"
      placeholder="1m x 2m"
      autocomplete="off"
      required
      maxlength="120"
    />
    <p class="help-text" [hidden]="size.invalid && size.touched">
      Wie groß ist das Möbelstück ungefähr?
    </p>
    <p class="error-text" [hidden]="size.valid || size.untouched">
      <span *ngFor="let err of size.errors | keyvalue">{{
        err.key | validationErrors
      }}</span>
    </p>
  </div>

  <div class="input-container">
    <label for="inputField">Zeitraum</label>
    <input
      [(ngModel)]="value.available_until"
      type="date"
      name="available_until"
      #available_until="ngModel"
      id="inputField"
      autocomplete="off"
      required
      dateNotInPast
      dateNotInFarFuture
    />
    <p
      class="help-text"
      [hidden]="available_until.invalid && available_until.touched"
    >
      Bis wann soll das Angebot gelten?
    </p>
    <p
      class="error-text"
      [hidden]="available_until.valid || available_until.untouched"
    >
      <span *ngFor="let err of available_until.errors | keyvalue">{{
        err.key | validationErrors
      }}</span>
    </p>
  </div>
  <div class="input-container">
    <label for="input-files">Bilder hochladen</label>
    <p class="help-text" [hidden]="photos.invalid && photos.touched">
      Du kannst bis zu drei Bilder zu deinem Angebot hinzufügen.
    </p>
    <p class="error-text" [hidden]="photos.valid || photos.untouched">
      <span *ngFor="let err of photos.errors | keyvalue">{{
        err.key | validationErrors
      }}</span>
    </p>
    <app-photo-upload
      name="photos"
      [(ngModel)]="value.photos"
      required
      fileSizeNotTooBig
      #photos="ngModel"
    ></app-photo-upload>
  </div>

  <div class="input-container">
    <label for="input-name">Name</label>
    <input
      type="text"
      [(ngModel)]="value.name"
      id="input-name"
      name="name"
      #name="ngModel"
      placeholder="Helga Herzlich"
      autocomplete="name"
      required
      maxlength="120"
      minlength="3"
    />
    <p class="help-text" [hidden]="name.invalid && name.touched">
      Wie lautet Dein Name?
    </p>
    <p class="error-text" [hidden]="name.valid || name.untouched">
      <span *ngFor="let err of name.errors | keyvalue">{{
        err.key | validationErrors
      }}</span>
    </p>
  </div>

  <div class="input-container">
    <label for="input-phone">Telefonnummer</label>
    <input
      type="text"
      [(ngModel)]="value.phone"
      id="input-phone"
      name="phone"
      #phone="ngModel"
      placeholder="02863 1234"
      autocomplete="tel"
      required
      phoneNumber
      maxlength="120"
    />
    <p class="help-text" [hidden]="phone.invalid && phone.touched">
      Unter welcher Telefonnummer erreichen wir Dich?
    </p>
    <p class="error-text" [hidden]="phone.valid || phone.untouched">
      <span *ngFor="let err of phone.errors | keyvalue">{{
        err.key | validationErrors
      }}</span>
    </p>
  </div>

  <div class="input-container">
    <label for="input-privacy">Datenschutz</label>
    <input
      type="checkbox"
      [(ngModel)]="value.phone"
      id="input-privacy"
      name="privacy"
      #privacy="ngModel"
      required
    />
    <p class="help-text" [hidden]="privacy.invalid && privacy.touched">
      Unter welcher Telefonnummer erreichen wir Dich?
    </p>
    <p class="error-text" [hidden]="privacy.valid || privacy.untouched">
      <span *ngFor="let err of phone.errors | keyvalue">{{
        err.key | validationErrors
      }}</span>
    </p>
  </div>

  <button class="offer-form__submit" type="submit">
    <img class="icon" src="assets/undraw_rocket.svg" alt="" />
    Erstellen
  </button>
</form>
