// Stile für einen grundlegenden Button
button {
    display: inline-block;
    padding: $spacing-unit $spacing-unit * 2;
    font-size: $base-font-size;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color $transition-duration;
    
    &:hover {
      background-color: $primary-color;
      color: white;
    }
    
    &.primary {
      background-color: $primary-color;
      color: white;
    }
    
    &.secondary {
      background-color: $secondary-color;
      color: white;
    }
  }
  