button {
    display: inline-block;
    padding: $spacing-unit $spacing-unit * 2;
    font-size: $base-font-size;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color $transition-duration;
    background-color: $primary-color;
    color: $on-primary-color;
    
    &:hover {
      background-color: $secondary-color;
      color: white;
    }

    .icon {
      height: $base-font-size;
      vertical-align: middle;
      margin-right: $spacing-unit;
    }
  }
  