.input-container {
  margin-bottom: $spacing-unit * 3;

  label {
    display: block;
    margin-bottom: $spacing-unit * 1.5;
    font-weight: bold;
    font-size: $base-font-size;
  }

  textarea,
  input {
    width: 100%;
    box-sizing: border-box;
    padding: $spacing-unit * 1.5;
    border: 2px solid $text-color;
    border-radius: $border-radius;
    font-size: $base-font-size;
    transition: border-color $transition-duration;
    margin-bottom: $spacing-unit;
    font-family: $body-font;
    resize: none;

    &[type="file"] {
      display: none;
    }

    &.ng-invalid.ng-touched {
      border-color: $danger-color;
    }

    &:focus {
      outline: none;
    }
  }

  .help-text {
    font-size: $small-font-size;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .error-text {
    font-size: $small-font-size;
    margin-top: 4px;
    margin-bottom: 0;
    color: $danger-color;
  }

  &.checkbox-container {

    label {
      display: flex;
      align-items: center;
      font-weight: normal;

      &:hover {
        cursor: pointer;
      }

      input[type="checkbox"] {
        appearance: none;
        background-color: #fff;
        background-image: url(/online-furniture-storage/assets/undraw_check.svg);
        background-size: 1em 1em;
        background-position: center;
        background-repeat: no-repeat;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid $text-color;
        border-radius: 0.15em;
        margin: 0 $spacing-unit 0 0;

        &.ng-invalid.ng-touched {
          border-color: $danger-color;
        }

        &:hover {
          background-color: lighten($color: $primary-color, $amount: 60);
          cursor: pointer;
        }

        &:checked {
          background-color: $primary-color;
        }
      }
    }
  }
}
