@import "/src/styles/variables";
@import "/src//styles/mixins";

.category__wrapper {
  display: flex;
  width: 100%;
  gap: $spacing-unit;
  overflow-x: scroll;

}

@media only screen and (min-width: $screen-breakpoint) {
  .category__button {
    flex: 1 1 0;
  }
}