<!-- <select [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)">
  <option *ngFor="let option of options" [value]="option.value">
    {{ option.label }}
  </option>
</select> -->
<div class="category__wrapper">
  <button
    class="category__button"
    [class.black-outline]="!isSelected(option)"
    *ngFor="let option of options"
    (click)="selectOption(option)"
    type="button"
  >
    <img
      class="icon"
      [hidden]="isSelected(option)"
      [src]="'assets/undraw_' + option.value + '.svg'"
    />
    <img
      class="icon"
      [hidden]="!isSelected(option)"
      [src]="'assets/undraw_' + option.value + '-white.svg'"
    />
    {{ option.label }}
  </button>
  <!-- <div
    class="category__card"
    *ngFor="let option of options"
    (click)="selectOption(option)"
    [class.selected]="isSelected(option)"
  >
    <img *ngIf="!isSelected(option)" src="assets/undraw_bike.svg" alt="" />
    <img *ngIf="isSelected(option)" src="assets/undraw_bike-white.svg" alt="" />
    {{ option.label }}
  </div> -->
</div>
