<app-hero imageSrc="assets/st-pup-logo.svg">
  <h2>Möbel spenden.</h2>
  <h2>Hoffnung schenken.</h2>
  <button class="on-primary" routerLink="/offer">Los geht's</button>
</app-hero>
<div class="home__article">
  <div>
    <h3>Über das Online Möbellager</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nemo
      doloremque aspernatur facere temporibus! Qui veniam quod, ad fugit
      praesentium nulla nostrum, culpa adipisci quae asperiores, excepturi
      nesciunt placeat maiores. Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Autem sed, architecto voluptatum atque est vero dolorem,
      ex commodi accusantium alias, incidunt quasi optio labore unde. Doloribus
      excepturi consequatur debitis dolore.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nemo
      doloremque aspernatur facere temporibus! Qui veniam quod, ad fugit
      praesentium nulla nostrum, culpa adipisci quae asperiores, excepturi
      nesciunt placeat maiores. Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Autem sed, architecto voluptatum atque est vero dolorem,
      ex commodi accusantium alias, incidunt quasi optio labore unde. Doloribus
      excepturi consequatur debitis dolore.
    </p>
  </div>
  <img src="assets/peep-standing-16.svg" alt="" />
</div>
