@import "/src/styles/mixins";
@import "/src/styles/variables";

.home__article {
    @include responsive-width;
    margin-top: $spacing-unit*6;
    margin-bottom: $spacing-unit*6;
    display: flex;
    align-items: center;

    p {
        text-align: justify;
    }

    img {
        margin-left: 5*$spacing-unit;
        max-width: 300px;
        width: 30%;
        max-height: 300px;
    }
}

@media only screen and (max-width: $screen-breakpoint) {
    img {
        display: none;
    }
}
