<app-hero imageSrc="assets/st-pup-logo.svg">
  <h2>Möbel spenden.</h2>
  <h2>Hoffnung schenken.</h2>
  <button class="on-primary" routerLink="/offer">Los geht's !</button>
</app-hero>
<div class="home__article">
  <div>
    <h3>Ein Möbellager ganz ohne Lagerhalle?</h3>
    <p>
      Die Pfarrgemeinde St. Peter und Paul unterstützt Geflüchtete dabei, hier
      eine Wohnung zu finden. Das allein ist schon keine einfache Aufgabe, doch
      wenn es dann geklappt hat, muss es häufig sehr schnell gehen. Die
      Einrichtung einer Wohnung ist für viele von uns selbstverständlich, für
      Geflüchtete jedoch nicht. Deshalb möchten wir sie dabei unterstützen, ihre
      Wohnungen schnell einzurichten.
    </p>
    <p>
      Die Bereitschaft, Möbel zu spenden ist hoch. Allerdings kann die Gemeinde
      die Möbel für eine Wohnung nicht so einfach lagern. Eine Lagerhalle
      anzumieten und zu unterhalten kostet Geld und ist mit viel Aufwand
      verbunden. Deshalb versuchen wir mit dieser Plattform eine Möglichkeit zu
      bieten, auf der Du verfügbare Möbel melden kannst. Wir kontaktieren Dich,
      wenn es einen entsprechenden Bedarf gibt.
    </p>
  </div>
  <img src="assets/undraw_heavy_box.svg" alt="" />
</div>

<div class="home__action-card">
  <p>
    Ein Angebot zu erstellen dauert nur wenige Minuten. Probiere es doch direkt
    einmal aus!
  </p>
  <button class="on-primary" routerLink="/offer">Angebot erstellen</button>
  <img src="assets/undraw_furniture-white.svg">
</div>

<div class="home__article">
  <div>
    <h3>Der Ablauf in drei Schritten</h3>
    <app-steps-widget></app-steps-widget>
  </div>
  <div class="home__spacer"></div>
</div>
