<app-hero imageSrc="assets/st-pup-logo.svg">
  <h2>Möbel spenden.</h2>
  <h2>Hoffnung schenken.</h2>
  <button class="on-primary" routerLink="/offer">Los geht's !</button>
</app-hero>
<div class="home__article">
  <div>
    <h3>Ein Möbellager ganz ohne Lagerhalle?</h3>
    <p>
      Die Pfarrgemeinde St. Peter und Paul unterstützt Geflüchtete dabei, hier
      eine Wohnung zu finden. Das allein ist schon keine einfache Aufgabe, doch
      wenn es dann geklappt hat, muss es häufig sehr schnell gehen. Die
      Einrichtung einer Wohnung ist für viele von uns selbstverständlich, für
      Geflüchtete jedoch nicht. Deshalb möchten wir sie dabei unterstützen, ihre
      Wohnungen schnell einzurichten.
    </p>
    <p>
      Die Bereitschaft, Möbel zu spenden ist hoch. Allerdings kann die Gemeinde
      die Möbel für eine Wohnung nicht so einfach lagern. Eine Lagerhalle
      anzumieten und zu unterhalten kostet Geld und ist mit viel Aufwand
      verbunden. Deshalb versuchen wir mit dieser Plattform eine Möglichkeit zu
      bieten, auf der Du verfügbare Möbel melden kannst. Wir kontaktieren Dich, wenn
      es einen entsprechenden Bedarf gibt.
    </p>
  </div>
  <img src="assets/undraw_heavy_box.svg" alt="" />
</div>
<div class="home__article">
  <div>
    <h3>Der Ablauf in drei Schritten</h3>
    <p>
      Im ersten Schritt erstellst Du ein Angebot auf dieser Seite. Das Angebot
      sollte ein paar wesentliche Informationen zum Möbelstück umfassen, ein
      paar Fotos sowie Deine Kontaktdaten. Wichtig ist, dass das Möbelstück in
      der Nähe von Velen, Ramsdorf oder Hochmoor verfügbar ist und in einem
      akzeptablen Zustand. Kaputte Möbel können wir nicht vermitteln.
      Außerdem solltest Du angeben, wie lange Du das Möbelstück bereithalten bzw.
      aufbewahren kannst.
    </p>
    <p>
      Im zweiten Schritt versuchen wir das Angebot zu vermitteln. Ehrenamtliche
      Helfer, die in unserer Gemeinde aktiv sind, überprüfen regelmäßig die
      Angebote. Nur eine kleine Gruppe Helfer hat Zugriff auf die Angebote,
      nicht mehr Personen als notwendig.
    </p>
    <p>
      Im dritten Schritt melden wir uns bei Dir, wenn wir ein Angebot vermitteln
      konnten. Dann stimmen wir individuell ab, wie und wann wir das Möbelstück
      abholen. Anschließend wird das Angebot aus unserer Datenbank gelöscht.
      Sollten wir ein Möbelstück nicht vermitteln können, wird das Angebot
      automatisch nach Ablauf aus der Datenbank gelöscht.
    </p>
  </div>
  <div class="home__spacer"></div>
  <img src="assets/undraw_helpful_sign.svg" alt="" />
</div>
<div class="home__article">
  <div>
    <h3>Die Sicherheit Deiner Daten</h3>
    <p>
      In Bezug auf den Datenschutz legen wir von Anfang an höchsten Wert auf die
      Sicherheit Deiner Daten. Wir erfassen nur die unbedingt notwendigen
      Informationen, wie Deinen Namen und Deine Telefonnummer, um Angebote zu
      vermitteln, und speichern keine überflüssigen Daten wie Adresse, solange
      sie nicht benötigt werden. Zudem löschen wir Deine Daten umgehend, sobald
      sie für uns nicht mehr relevant sind, beispielsweise nach erfolgreicher
      Angebotvermittlung oder Ablauf des Angebots.
    </p>
    <p>
      Wir schützen Deine Daten durch eine Verschlüsselung, sowohl während der
      Übertragung über HTTPS als auch in unserer eigenen, in Deutschland
      gehosteten Datenbank. Selbst im unwahrscheinlichen Fall eines
      Datenbankzugriffs durch Dritte wären die Informationen für unbefugte
      Personen unverständlich.
    </p>
    <p>
      Unsere datenschutzfreundliche Herangehensweise gewährleistet, dass Deine
      Daten ausschließlich in Deutschland verarbeitet werden, ohne Einbindung
      von Drittanbietern wie Google oder Facebook, um höchstmögliche Sicherheit
      und Vertraulichkeit zu gewährleisten. Weitere Informationen kannst Du auch
      in unserer Datenschutzerklärung erfahren.
    </p>
  </div>
  <img src="assets/undraw_secure_files.svg" alt="" />
</div>
