@import "/src/styles/variables";

.gallery__photos {
	display: flex;
	gap: $spacing-unit * 3;
	width: 100%;
	overflow-x: scroll;
	margin: 2 * $spacing-unit 0;
  
	img:hover {
	  cursor: pointer;
	}
  }