@import "/src/styles/variables";

.offer-card__container {
    width: 100%;
    box-sizing: border-box;
    padding: $spacing-unit * 2;
    border: 2px solid $text-color;
    border-radius: $border-radius;
    margin-bottom: $spacing-unit;
    background-color: white;
    display: flex;
    align-items: center;

    img {
        width: 180px;
        max-width: 30%;
        margin-right: $spacing-unit * 4;
    }

    .offer-card__text {
        h4 {
            margin: $spacing-unit 0;
        }
    }
}