@import "/src/styles/mixins";
@import "/src/styles/variables";

.overview__wrapper {
  @include responsive-width;

  margin-bottom: 5*$spacing-unit;

  .overview__result-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: $spacing-unit * 2;
  }

  .overview__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button.block {
    width: 100%;
    margin: $spacing-unit * 3 0;
  }
}

@media only screen and (max-width: $screen-md) {
  .overview__wrapper {
    .overview__result-grid {
      display: grid;
      grid-template-columns: auto;
    }
  }
}