@import "/src/styles/variables";
@import "/src//styles/mixins";

.footer__wrapper {
  background-color: $primary-color;
  color: $on-primary-color;
  width: 100%;
}

.footer__container {
  @include responsive-width;
  display: flex;
  .footer__contact {
    .footer__contact-title {
      font-family: $heading-font;
      font-weight: bold;
    }
  }

  .footer__spacer {
    flex-grow: 2;
    min-width: 2*$spacing-unit;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-unit * 2;
    padding: $spacing-unit * 2 0;

    a {
      color: $on-primary-color;
      text-decoration: none;
      transition: color 0.3s;
    }
  }
}

@media only screen and (max-width: $screen-breakpoint) {
  .footer__spacer {
    display: none;
  }

  .footer__container {
    flex-direction: column;
  }
}
