@import "/src/styles/variables";
@import "/src//styles/mixins";

.footer__wrapper {
  background-color: $primary-color;
  color: $on-primary-color;
  width: 100%;
}

.footer__container {
  @include responsive-width;
  display: grid;
  grid-template-columns: 1fr auto;
  .footer__contact {
    .footer__contact-title {
      font-family: $heading-font;
      font-weight: bold;
    }
  }

  .footer__externals {
    grid-column-start: 1;
    grid-column-end: end;
    display: flex;
    align-items: center;
  }

  hr {
    display: none;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-unit * 2;
    padding: $spacing-unit * 2 0;
  }
}

a {
  color: $on-primary-color;
  text-decoration: none;
  transition: color 0.3s;
}

.carbonbadge {
  white-space: nowrap;
}

@media only screen and (max-width: $screen-breakpoint) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}
