<footer class="footer__wrapper">
  <div class="footer__container">
    <div class="footer__contact">
      <p>Ein Service der</p>
      <p class="footer__contact-title">Pfarrgemeinde St. Peter und Paul</p>
      <p>Kirchplatz 3<br />46342 Velen</p>
    </div>
    <div class="footer__links">
      <a routerLink="/login">Administration</a>
      <a routerLink="/imprint">Impressum</a>
      <a routerLink="/imprint" fragment="datenschutzerklaerung"
        >Datenschutzerklärung</a
      >
    </div>
    <div class="footer__externals">
      <div #wcb id="wcb" class="carbonbadge"></div>
    </div>
  </div>
</footer>
